.card {

border-radius:15px;

overflow:hidden;

}



.card-header {

padding:20px;

}



table {


border-radius:10px;

overflow:hidden;


}



thead th {


font-weight:600;

}



tbody tr {


transition:0.2s;

}



tbody tr:hover {


background-color:#eff6ff;


}



.btn {


border-radius:8px;

}



.badge {


padding:8px 12px;

font-size:13px;

}